html {
	overflow: hidden;
	height: 100%;
	width: 100%;
}



.orangeSmallButton:hover{
	background: rgb(56, 22, 10);
	box-shadow: inset 1px 1px rgb(100,24,0), 1px 1px rgb(100,24,0);
	border: solid 1px rgb(175, 96, 66);
	
}

.orangeSmallButton{
	width: 20px;
	height: 20px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	font-family: Helvetica;
	color: #ffffff;
	background: transparent;
	font-weight: bold;
	border: solid 1px rgb(100,101,103);
	outline: none;
	text-align: center;
    box-shadow: inset 1px 1px rgb(33,34,36), 1px 1px rgb(33,34,36);
	display: block;
	position: absolute;
}





.orangeCheckbox {
  width: 20px;
  position: relative;
  left:5px;
}
.orangeCheckbox label {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
/*  box-shadow: inset 1px 1px rgb(100,24,0), 1px 1px rgb(100,24,0);*/
  box-shadow: inset 1px 1px rgb(33,34,36), 1px 1px rgb(33,34,36);
  /*border: solid 1px rgb(175, 96, 66);*/
  border: solid 1px rgb(100,101,103);
}
.orangeCheckbox label:after {
  content: '';
  width: 7px;
  height: 4px;
  position: absolute;
  top: 3px;
  left: 3px;
  border: 3px solid rgb(175, 96, 66);
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}
.orangeCheckbox label:hover:after {
  border-color: transparent;
  background: transparent;
  opacity: 1;
  transform: rotate(-45deg);
}

.orangeCheckbox label:hover{
	border-color: white;
	box-shadow: inset 1px 1px rgba(250,250,250,.1), 1px 1px rgba(250,250,250,.1);
}
.orangeCheckbox input[type=checkbox] {
  visibility: hidden;
}
.orangeCheckbox input[type=checkbox]:checked + label:after {
  border-color: rgb(175, 96, 66);
  opacity: 1;
}

.orangeCheckbox input[type=checkbox]:checked, .orangeCheckbox input[type=checkbox]:checked + label {
  border-color: rgb(175, 96, 66);
  box-shadow: inset 1px 1px rgb(100,24,0), 1px 1px rgb(100,24,0);
}




.orangeButton, .subOrangeButton{
	background: transparent;
	color: rgb(175, 96, 66);
	text-shadow: 1px 1px black;
	outline: none;
	display: block;
	margin: 2px auto;
	border: solid 1px rgb(175, 96, 66);
	text-align: center;
    padding: 3px; 
    width:140px;
	-webkit-box-shadow: inset 1px 1px rgb(100,24,0), 1px 1px rgb(100,24,0);
	font-weight: bold;
}
.orangeButton:hover, .subOrangeButton:hover{
	background: rgb(56, 22, 10);
	outline: none;
}
.orangeButton:active, .subOrangeButton:active{
	background: rgb(92, 32, 8);
	color: white;
	outline: none;
}



.normalCheckbox {
  width: 20px;
  position: relative;
  left:5px;

}
.normalCheckbox label {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  background: #323232;
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
  opacity: .9;
}
.normalCheckbox label:after {
  content: '';
  width: 7px;
  height: 4px;
  position: absolute;
  top: 3px;
  left: 3px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}
.normalCheckbox label:hover::after {
  opacity: 0.3;
}
.normalCheckbox input[type=checkbox] {
  visibility: hidden;
}
.normalCheckbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}

#colorbuttons{	
	display: none;
	position: relative;
	top: 0px;
}

#colorContainer{
	position: relative;
	width: 140px;
	margin-left: auto;
	margin-right:auto;
	margin-top: 0px;
	margin-bottom: 3px;
	top:2px;
}

#colorText{
	position: relative;
	right: 10px;
}

#colorVis{
	position: relative;
	margin: 0px 6px;
	width: 18px;
}

.bigCheckbox {
  margin: 0px;
  width: 25px;
  position: relative;
  bottom: 5px;
}
.bigCheckbox label {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 0;
  left: 0;
  background: #323232;
  border: solid 1px #323232;
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
  opacity: .9;
}
.bigCheckbox label:after {
  content: '';
  width: 15px;
  height: 8px;
  position: absolute;
  top: 6px;
  left: 6px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}
.bigCheckbox label:hover::after {
  opacity: 0.3;
}
.bigCheckbox input[type=checkbox] {
  visibility: hidden;
}
.bigCheckbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}

#contentbuttons, #dialog, #Roptions, #page2, #page3, #page4, #page5, #page6, #page7, #page8, #page9{
	display: none;
}

#dialog, #autoCapConflict, #closeDialog, #closeDialog2{
	color: black;
	font-family: Helvetica;	
	text-shadow:none;
}


.feedback{
	display: none;
	color: red;
	text-shadow:none;
}

.rightButton{
	position: relative;
/*	bottom: 49px;
	left: 85px;*/
	bottom:0px;
	left:10px;
}

.button:hover, .subbutton:hover, .bigCheckbox label:hover, .smallbutton:hover{
    border-color: #F0C49B;
}

.button:active, .subbutton:active{
 transform: rotateY(10deg); 
}


h1 {
	color: rgb(43,39,39);
}

body 
{
	color: rgb(250,250,250);
	font-family: Helvetica;	
	text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
	-webkit-user-select: none;
}

#turnOff{
	margin-bottom: 5px;
}

#Stats{
	margin-top: 10px;
}

#contentWrapper{
	position: absolute;
	top:5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	-webkit-background-clip: padding;
	background-clip: padding-box1;
	border: 10px solid transparent;
}

#progress{
	position:relative;
	width: 80%;
	top:150px;
	margin-left: auto;
	margin-right: auto;
}

#content {
	display: none;
	position: absolute;
	top:5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	padding: 5px;
}

#WarLogo{
	width: 170px;
	position: relative;
	top:50px;
	right: 10px;
}

.smallbutton{
	width: 20px;
	height: 20px;
	-webkit-border-radius: 2;
	-moz-border-radius: 2;
	border-radius: 2px;
	font-family: Helvetica;
	color: #ffffff;
	background: #323232;
	font-weight: bold;
	border: solid 1px #323232;
	outline: none;
	text-align: center;
    -webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	display: block;
	opacity: .9;
	position: absolute;
}

label{
	opacity: .9;
}

.button{
    text-align: center;
    padding: 3px; 
    width:140px;
	border: solid 1px #323232;/*#91765d;*/
	background: #323232;/*#575857;/*#585e61;*/
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: Helvetica;
	color: #ffffff;
	outline: none;
	margin: 2px auto;
	display: block;
	opacity: .9;
}



#colorbuttons{
	width: 140px;
	margin: 2px auto;
}


.subbutton{
    text-align: center;
    padding: 3px; 
    width:140px;
	border: solid 1px #484848  ;/*#91765d;*/
	background: #484848  ;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: Helvetica;
	color: #ffffff;
	outline: none;
	margin: 2px auto;
	display: block;
	opacity: .9;
}



#info{
	top:2px;
	left:94px;
}

#minimize{
	top:2px;
	left:116px;
	font-size: 15px;
}

#close{
	top:2px;
	left:138px;
	font-size: 15px;
	padding: 0px 3px 6px 3px;
}
#settingsWin{
	background: url("../images/options.png") no-repeat scroll 0 0 transparent;
	background-size: 18px 18px;
	background-repeat:no-repeat;
	top:2px;
	left:72px;
}

#resize{
	width:40px;
	height:40px;
	z-index:0;
	top: 0px;
	left: 0px;
	position: absolute;
	opacity: .8;
}
