
html {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

body{
	color: rgb(250,250,250);
	font-family: Helvetica;	
	text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
}

#preview{
	position: relative;
	top: 10px;
	margin: 0 auto;
	left:25px;
}

#form{
	position:relative;
}

#reticle{
	width: 100px;
	height: 100px;
	margin: 0 auto;
	bottom: 10px;
	left: 10px;
}

#drop{
	position: relative;
	top: 10px;
	width: 125px;
	left: 10px;
	outline-color: #262626;
	outline-width: thick;
}

#hide{
	position: relative;
	top: 10px;
	width: 125px;
	left: 10px;

}

#content{
	background: rgba(150, 150, 150, .5);
	position:relative;
	width:150px;
	height:150px;
	border: 5px solid transparent;
	margin: 0 auto;
}

.button:hover{
    border-color: #F0C49B;
}

.button{
    text-align: center;
    padding: 3px; 
    width:140px;
	border: solid 1px #323232;/*#91765d;*/
	background: #323232;/*#575857;/*#585e61;*/
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: Helvetica;
	color: #ffffff;
	outline: none;
	display: block;
	opacity: .9;
}


