html {
	/*overflow: hidden;*/
		overflow: scroll;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.05);
}

h1 {
	color: rgb(43,39,39);
}

hr{
	position: relative;
	bottom: 18px;
}

ul{
list-style-type:none
}

body {
	color: rgb(5,5,5);
	font-family: Arial;
}

.embeddedSettings{
	margin-top:15px;
	border-color: #E1E1E1;
	border-radius:3px;
	
}
.settings{
	margin-top:15px;
	border-color: #E1E1E1;
	border-radius:3px;
	width: 310px;
	
}

.standard{
	margin-top:15px;
	border-color: #E1E1E1;
	border-radius:3px;
	width: 870px;
	
}

.button:hover, .subbutton:hover{
 transform: rotateY(10deg); 
	
}

.button:active, .subbutton:active{
 transform: rotateY(20deg); 
 
}

.button{
    text-align: center;
    padding: 3px; 
    width:200px;
	border:none;
	background: #585e61;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: Arial;
	color: #ffffff;
	text-decoration: none;
	outline: none;
}


/*Begin Statcrack table*/
.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

.table td, .table th {
    font-size: 1em;
    border: 1px solid #4F4F53;
    padding: 3px 7px 2px 7px;
}

.table th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #717176;
    color: #ffffff;
}

/*End StatCrack Table*/


/* Tab system for statcrack */


/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px; /* Corner rounding*/
            background:#F0F0F5;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#D8D8DC;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#D8D8DC;/*#fff;*/
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;/*
        border-radius:0px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;*/
		position: relative;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }


/*end tabs*/


#banner{
width:375px;
height:90px;
z-index:1;
bottom: 10px;
right: 20px;
position: relative;
margin: 0;
}

#allSettings{
	position:relative;
	bottom: 30px;
}

#secondweapon{
	display : none;
}
#thirdweapon {
	display : none;
}
#fourthweapon {
	display : none;
}
#fifthweapon{
	display : none;
}

#title{
left:20px;
position: relative;
}

#content {
	position: relative;
}

#chart{
	position: relative;
	left: 0px;
	margin:0px;
	margin-top: 15px;
	display: none;
}

#showfeatures{
	margin: 0 auto;
	display: block;
}

#resetLS{
	margin: 0 auto;
	display: block;
}

#triggers{
	display:none;
}
