#content{
	/*overflow: hidden;*/
	position: absolute;
	top:5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	-webkit-background-clip: padding;
	background-clip: padding-box1;
	-webkit-user-select: none;
	display: none;
	border: 15px solid transparent;
}

#triggers{
	display: none;
}

#alert{
	position:relative;
	width:200px;
	height:50px;
	bottom: 5px;
	left: 10%;
}

#message{
	position:relative;
}

.control:hover{
    border-color: #F0C49B;
}

.smallbutton{
	width: 20px;
	height: 20px;
	-webkit-border-radius: 2;
	-moz-border-radius: 2;
	border-radius: 2px;
	font-family: Helvetica;
	color: #ffffff;
	background: #323232;
	font-weight: bold;
	border: solid 1px #323232;
	outline: none;
	text-align: center;
    -webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	display: inline-blockblock;
	opacity: .9;
	position: relative;
}

.button{
    text-align: center;
    padding: 3px; 
    width:140px;
	border: solid 1px #323232;/*#91765d;*/
	background: #323232;/*#575857;/*#585e61;*/
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: Helvetica;
	color: #ffffff;
	outline: none;
	/*margin: 2px auto;*/
	display: inline-block;
	opacity: .9;
}

.control{
	position:absolute;
	bottom:0px;
	display: inline-block;
	width:60px;
	height:30px;
	text-align: center;
    padding: 3px; 
    width:120px;
	border: solid 1px #323232;/*#91765d;*/
	background: #323232;/*#575857;/*#585e61;*/
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: Helvetica;
	color: #ffffff;
	outline: none;

}

.slider{
	text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
	border:0; 
	color:#f6931f; 
	background: transparent; 
	font-weight:bold;
}

.legend{
	color: rgb(250,250,250);
	text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
}

body{
	color: rgb(250,250,250);
	font-family: Helvetica;	
	text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
}

.button:hover, .bigCheckbox label:hover, .smallbutton:hover{
    border-color: #F0C49B;
}

.button:active{
 transform: rotateY(10deg); 
}

.smallbutton{
	width: 20px;
	height: 20px;
	-webkit-border-radius: 2;
	-moz-border-radius: 2;
	border-radius: 2px;
	font-family: Helvetica;
	color: #ffffff;
	background: #323232;
	font-weight: bold;
	border: solid 1px #323232;
	outline: none;
	text-align: center;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	opacity: .9;
	position: relative;
	display: inline-block;
	padding: 1px;
	left:10px;
}

#settingsWin{
	background: url("../images/options.png") no-repeat scroll 0 0 transparent;
	background-size: 18px 18px;
	background-repeat:no-repeat;
	bottom: 5px;
}

#turnOn{
	background: url("../images/off.png") no-repeat scroll 0 0 transparent;
	background-size: 18px 18px;
	background-repeat:no-repeat;
	bottom: 5px;
}

#replayWindow{
	background: url("../images/openReplay.png") no-repeat scroll 0 0 transparent;
	background-size: 18px 18px;
	background-repeat:no-repeat;
	bottom: 5px;
}

#capture{
	background: url("../images/rewind.png") no-repeat scroll 0 0 transparent;
	background-size: 18px 18px;
	background-repeat:no-repeat;
	bottom: 5px;
}

#error{
	background: url("../images/error.png") no-repeat scroll 0 0 transparent;
	background-size: 18px 18px;
	background-repeat:no-repeat;
	bottom: 5px;
}

#start{
	background: url("../images/play.png") no-repeat scroll 0 0 transparent;
	background-size: 18px 18px;
	background-repeat:no-repeat;
	bottom: 5px;
}

#close{
	font-size: 15px;
bottom: 7px;
}

#onceEnabled{
	display:none;
}


#play{
	left:0px;
}
#back10{
	left:120px;
}
#stop{
	left:240px;
}
#volumeUp{
	left:360px;
}
#volumeDown{
	left:480px;
}

#menu{
	width: 190px;
	height:45px;
	position: relative;
	border: none;
	background: rgba(250,250,250,.1);
	display: none;
	-webkit-user-select: none;
}

#Replay{
	width: 600px;
	height:400px;
	position: relative;
	border: 3px solid transparent;
	background: rgba(250,250,250,.1);
	display: block;
}