html {
	overflow: hidden;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.05);
/*  background: -webkit-linear-gradient(left bottom,rgba(255,0,0,0),rgba(255,0,0,1));*/
/* 
Can make beveled corners with gradients by using angles with minimal transition
div {    
	background:
		linear-gradient(135deg, transparent 10px, #c00 0) top left,
		linear-gradient(225deg, transparent 10px, #c00 0) top right,
		linear-gradient(315deg, transparent 10px, #c00 0) bottom right,
		linear-gradient(45deg,  transparent 10px, #c00 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat;
}
*/
}

#contentbuttons{
	display: none;
}
#Roptions{
	display: none;	
}


.feedback{
	display: none;
	color: red;
	text-shadow:none;
}


.button:hover, .subbutton:hover{
 transform: rotateY(7deg); 
}

.button:active, .subbutton:active{
 transform: rotateY(11deg); 
}

.resizeGrip {
	background: transparent;
	border:none;
	position: absolute;
}

h1 {
	color: rgb(43,39,39);
}

#content::selection{
	 background-color: transparent;
}

body 
{
	color: rgb(250,250,250);
	font-family: Arial;	
	text-shadow:
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
		}

#turnOff{
	margin-bottom: 5px;
}

#Stats{
	margin-top:10px;
}

#content {
	position: absolute;
	top:5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	padding: 5px;
}

#resizeGripTop {
	height: 5px;
	top: 0;
	left: 5px;
	right: 5px;
	cursor: ns-resize;
}

#resizeGripBottom {
	height: 5px;
	bottom: 0;
	left: 5px;
	right: 5px;
	cursor: ns-resize;
}

#resizeGripLeft {
	width: 5px;
	left: 0;
	top: 5px;
	bottom: 5px;
	cursor: ew-resize;
}

#resizeGripRight {
	width: 5px;
	right: 0;
	top: 5px;
	bottom: 5px;
	cursor: ew-resize;
}

#resizeGripTopLeft {
	width: 5px;
	height: 5px;
	top: 0;
	left: 0;
	cursor: nwse-resize;
}

#resizeGripBottomLeft {
	width: 5px;
	height: 5px;
	bottom: 0;
	left: 0;
	cursor: nesw-resize;
}

#resizeGripTopRight {
	width: 5px;
	height: 5px;
	top: 0;
	right: 0;
	cursor: nesw-resize;
}

#resizeGripBottomRight {
	width: 5px;
	height: 5px;
	bottom: 0;
	right: 0;
	cursor: nwse-resize;
}



.button{
    text-align: center;
    padding: 3px; 
    width:140px;
	border:none;
	background: #585e61;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: Arial;
	color: #ffffff;
	text-decoration: bold;
	font-weight: bold;
	outline: none;
	margin: 2px;
}


.subbutton{
 
    text-align: center;
    padding: 3px; 
    width:140px;
	border:none;
	background: #8c9194;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: Arial;
	color: #ffffff;
	text-decoration: bold;
	font-weight: bold;
	outline: none;
	margin: 2px;
}


#settingsWin{
	background-size: 15px 15px;
	background-repeat:no-repeat;
	width: 15px;
	height:15px;
	position: absolute;
	top:2px;
	left:101px;
	z-index:1;
}

#info{
	background-size: 15px 15px;
	background-repeat:no-repeat;
	width: 15px;
	height:15px;
	position: absolute;
	top:2px;
	left:118px;
	z-index:1;
}

#resize{
width:40px;
height:40px;
z-index:0;
top: 0px;
left: 0px;
position: absolute;
}

#close{
background-size: 15px 15px;
background-repeat:no-repeat;
width: 15px;
height:15px;
position: absolute;
top:2px;
left:135px;
z-index:1;
}