html {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.squaredThree {
  width: 20px;
  position: relative;
  left:3px;

}
.squaredThree label {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  background: #323232;
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
}
.squaredThree label:after {
  content: '';
  width: 7px;
  height: 4px;
  position: absolute;
  top: 3px;
  left: 3px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}
.squaredThree label:hover::after {
  opacity: 0.3;
}
.squaredThree input[type=checkbox] {
  visibility: hidden;
}
.squaredThree input[type=checkbox]:checked + label:after {
  opacity: 1;
}



#contentbuttons{
	display: none;
}
#Roptions{
	display: none;	
}


.feedback{
	display: none;
	color: red;
	text-shadow:none;
}


.button:hover, .subbutton:hover{
    border-color: #F0C49B;
}

.button:active, .subbutton:active{
 transform: rotateY(10deg); 
}

.resizeGrip {
	background: transparent;
	border:none;
	position: absolute;
}

h1 {
	color: rgb(43,39,39);
}

#content::selection{
	 background-color: transparent;
}

body 
{
	color: rgb(250,250,250);
	font-family: Helvetica;	
	text-shadow:
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
		}

#turnOff{
	margin-bottom: 5px;
}

#Stats{
	margin-top: 10px;
}

#contentWrapper{
	position: absolute;
	top:5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	-webkit-background-clip: padding;
	background-clip: padding-box1;
	
	border: 10px solid transparent;
	border-image-source: url(../images/boxBorderNoDots.png);
	border-image-outset: 0;
	border-image-repeat: stretch round;
	border-image-slice: 40% 15% 45% 15%;
}

#progress{
	position:relative;
	width: 80%;
	top:150px;
	margin-left: auto;
	margin-right: auto;
}

#content {
	display: none;
	position: absolute;
	top:5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	padding: 5px;
}

#resizeGripTop {
	height: 5px;
	top: 0;
	left: 5px;
	right: 5px;
	cursor: ns-resize;
}

#resizeGripBottom {
	height: 5px;
	bottom: 0;
	left: 5px;
	right: 5px;
	cursor: ns-resize;
}

#resizeGripLeft {
	width: 5px;
	left: 0;
	top: 5px;
	bottom: 5px;
	cursor: ew-resize;
}

#resizeGripRight {
	width: 5px;
	right: 0;
	top: 5px;
	bottom: 5px;
	cursor: ew-resize;
}

#resizeGripTopLeft {
	width: 5px;
	height: 5px;
	top: 0;
	left: 0;
	cursor: nwse-resize;
}

#resizeGripBottomLeft {
	width: 5px;
	height: 5px;
	bottom: 0;
	left: 0;
	cursor: nesw-resize;
}

#resizeGripTopRight {
	width: 5px;
	height: 5px;
	top: 0;
	right: 0;
	cursor: nesw-resize;
}

#resizeGripBottomRight {
	width: 5px;
	height: 5px;
	bottom: 0;
	right: 0;
	cursor: nwse-resize;
}

#WarLogo{
	width: 170px;
	position: relative;
	top:50px;
	right: 10px;
}

.button{
    text-align: center;
    padding: 3px; 
    width:140px;
	border: solid 1px #91765d;
	background: #323232;/*#575857;/*#585e61;*/
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: Helvetica;
	color: #ffffff;
	outline: none;
	margin: 2px;
}


.subbutton{
 
    text-align: center;
    padding: 3px; 
    width:140px;
	border: solid 1px #91765d;
	background: #8c9194;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: Helvetica;
	color: #ffffff;
	outline: none;
	margin: 2px;
		/*text-shadow:
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
		}*/
}


#settingsWin{
	background-size: 15px 15px;
	background-repeat:no-repeat;
	width: 15px;
	height:15px;
	position: absolute;
	top:2px;
	left:101px;
	z-index:1;
	opacity: .8;
}

#info{
	background-size: 15px 15px;
	background-repeat:no-repeat;
	width: 15px;
	height:15px;
	position: absolute;
	top:2px;
	left:118px;
	opacity: .8;
	z-index:1;
}

#resize{
width:40px;
height:40px;
z-index:0;
top: 0px;
left: 0px;
position: absolute;
opacity: .8;
}

#close{
background-size: 15px 15px;
background-repeat:no-repeat;
width: 15px;
height:15px;
position: absolute;
top:2px;
left:135px;
z-index:1;
opacity: .8;
}