html {
	overflow: hidden;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.05);
}

#contentbuttons{
	display: none;
}
#Roptions{
	display: none;	
}
/*
#loading{
	
	-webkit-transform: rotate(450deg);
 -moz-transform: rotate(450deg);
 -o-transform: rotate(450deg);
  transform: rotate(450deg);
 -webkit-transition-duration: 5s;
 -moz-transition-duration: 5s;
 -o-transition-duration: 5s;
  transition-duration: 5s;
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}*/

.feedback{
	display: none;
	color: red;
	text-shadow:none;
}


.button:hover, .subbutton:hover{
 transform: rotateY(10deg); 
	
}

.button:active, .subbutton:active{
 transform: rotateY(20deg); 
 
}

.resizeGrip {
	background: transparent;
	border:none;
	position: absolute;
}

h1 {
	color: rgb(43,39,39);
}

body 
{
	color: rgb(250,250,250);
	font-family: Arial;	
	text-shadow:
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
		}

#turnOff{
	margin-bottom: 5px;
}

#Stats{
	margin-top:10px;
}

#content {
	position: absolute;
	top:5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	padding: 5px;
}

#resizeGripTop {
	height: 5px;
	top: 0;
	left: 5px;
	right: 5px;
	cursor: ns-resize;
}

#resizeGripBottom {
	height: 5px;
	bottom: 0;
	left: 5px;
	right: 5px;
	cursor: ns-resize;
}

#resizeGripLeft {
	width: 5px;
	left: 0;
	top: 5px;
	bottom: 5px;
	cursor: ew-resize;
}

#resizeGripRight {
	width: 5px;
	right: 0;
	top: 5px;
	bottom: 5px;
	cursor: ew-resize;
}

#resizeGripTopLeft {
	width: 5px;
	height: 5px;
	top: 0;
	left: 0;
	cursor: nwse-resize;
}

#resizeGripBottomLeft {
	width: 5px;
	height: 5px;
	bottom: 0;
	left: 0;
	cursor: nesw-resize;
}

#resizeGripTopRight {
	width: 5px;
	height: 5px;
	top: 0;
	right: 0;
	cursor: nesw-resize;
}

#resizeGripBottomRight {
	width: 5px;
	height: 5px;
	bottom: 0;
	right: 0;
	cursor: nwse-resize;
}



.button{
    text-align: center;
    padding: 3px; 
    width:140px;
	border:none;
	background: #585e61;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: Arial;
	color: #ffffff;
	text-decoration: none;
	outline: none;
	margin: 2px;
}


.subbutton{
 
    text-align: center;
    padding: 3px; 
    width:140px;
	border:none;
	background: #8c9194;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: Arial;
	color: #ffffff;
	text-decoration: none;
	outline: none;
	margin: 2px;
}


#settingsWin{
	background-size: 15px 15px;
	background-repeat:no-repeat;
	width: 15px;
	height:15px;
	position: absolute;
	top:2px;
	left:101px;
	z-index:1;
}

#info{
	background-size: 15px 15px;
	background-repeat:no-repeat;
	width: 15px;
	height:15px;
	position: absolute;
	top:2px;
	left:118px;
	z-index:1;
}

#resize{
width:40px;
height:40px;
z-index:0;
top: 0px;
left: 0px;
position: absolute;
}

#close{
background-size: 15px 15px;
background-repeat:no-repeat;
width: 15px;
height:15px;
position: absolute;
top:2px;
left:135px;
z-index:1;
}

#loading{
	display: none;
}


